*.pbxuser
*.perspectivev3
*.build
build/*
*.cache
*.log
*.o
*~
*.hash-criteria
*.status
Source/config.h
*stamp-h*
Source/Makefile
*DS_Store*
Source/confdefs*
Source/conftest*
*(Autosaved)*
*.dSYM
Source/Glypha
Source/SysBeepTest
a.out
*/*deps/*.*o
