*.{c,C,cc,h} whitespace=trailing-space
# (*.r files are now successfully being detected as Rez, so override is no longer necessary)

# Some files should not be treated as text when diffing or merging.
Resources_from_Glypha_dot_rsrc/*/* binary
*.icns binary
*.rsrc binary
